.contacto__background {
  background-color: rgb(254, 236, 65);
  height: 100vh;
  width: 100vw;
  font-family: "Oswald", sans-serif;
}
.contacto__background h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: "Oswald", sans-serif;
}

.section__conteiner--stats {
  background-color: rgb(254, 236, 65);
}
.section__conteiner--stats h2 {
  text-align: center;
  font-weight: 700;
}

.caja__stats--general {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 20px;
  align-items: center;
  background-image: url(../img/BackGen.svg);
}
.caja__stats--general h2 {
  color: rgb(254, 254, 254);
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--general .element {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.caja__stats--general .element .h3__background--stats {
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 14em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--general .element .h3__background--stats .stats__h3--TitleComparative {
  color: rgb(255, 228, 196);
}
.caja__stats--general .element .stats__bar {
  height: 20px;
  width: 200px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--general .element .stats__bar .stats__progress {
  display: flex;
  height: 100%;
  width: var(--w);
  border-radius: 15px;
  animation: aumento 5s ease;
  background-image: linear-gradient(to right, #f2f2f2, #43c9e8);
}

.caja__stats--arg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 20px;
  align-items: center;
  background-image: url(../img/backArg.svg);
}
.caja__stats--arg h2 {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--arg .element {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.caja__stats--arg .element .h3__background--stats {
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 14em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--arg .element .h3__background--stats .stats__h3--TitleComparative {
  color: rgb(255, 228, 196);
}
.caja__stats--arg .element .stats__bar {
  height: 20px;
  width: 200px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--arg .element .stats__bar .stats__progress {
  display: flex;
  height: 100%;
  width: var(--w);
  border-radius: 15px;
  animation: aumento 5s ease;
  background-image: linear-gradient(to right, #ffffff, #0092ff);
}

.caja__stats--bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 20px;
  align-items: center;
  background-image: url(../img/BackBar.svg);
}
.caja__stats--bar h2 {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--bar .element {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.caja__stats--bar .element .h3__background--stats {
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 14em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--bar .element .h3__background--stats .stats__h3--TitleComparative {
  color: bisque;
}
.caja__stats--bar .element .stats__bar {
  height: 20px;
  width: 200px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--bar .element .stats__bar .stats__progress {
  display: flex;
  height: 100%;
  width: var(--w);
  border-radius: 15px;
  animation: aumento 5s ease;
  background-image: linear-gradient(to right, red, blue);
}

.caja__stats--psg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 20px;
  align-items: center;
  background-image: url(../img/backPSG.svg);
}
.caja__stats--psg h2 {
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--psg .element {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.caja__stats--psg .element .h3__background--stats {
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 14em;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--psg .element .h3__background--stats .stats__h3--TitleComparative {
  color: rgb(255, 228, 196);
}
.caja__stats--psg .element .stats__bar {
  height: 20px;
  width: 200px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.caja__stats--psg .element .stats__bar .stats__progress {
  display: flex;
  height: 100%;
  width: var(--w);
  border-radius: 15px;
  animation: aumento 5s ease;
  background-image: linear-gradient(to right, blue, red);
}

@keyframes aumento {
  0% {
    width: 0%;
  }
  100% {
    width: var(--w);
  }
}
/*Desktop desing*/
@media only screen and (min-width: 1200px) {
  .section__conteiner--stats {
    background-color: rgb(254, 236, 65);
  }
  .section__conteiner--stats h2 {
    text-align: center;
    font-weight: 700;
  }
  .caja__stats--general {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 20px;
    align-items: flex-start;
    background-image: url(../img/BackGenMobile.svg);
  }
  .caja__stats--general h2 {
    color: rgb(0, 0, 0);
    background-color: transparent;
  }
  .caja__stats--general .element {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .caja__stats--general .element .h3__background--stats {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 14em;
    border-radius: 10px;
    background-color: black;
  }
  .caja__stats--general .element .h3__background--stats .stats__h3--TitleComparative {
    color: rgb(255, 228, 196);
  }
  .caja__stats--general .element .stats__bar {
    height: 20px;
    width: 200px;
    border-radius: 20px;
    background-color: black;
  }
  .caja__stats--general .element .stats__bar .stats__progress {
    display: flex;
    height: 100%;
    width: var(--w);
    border-radius: 15px;
    animation: aumento 5s ease;
    background-image: linear-gradient(to right, #f2f2f2, #43c9e8);
  }
  .caja__stats--arg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 20px;
    align-items: center;
    background-image: url(../img/backArg.svg);
  }
  .caja__stats--arg h2 {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .caja__stats--arg .element {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .caja__stats--arg .element .h3__background--stats {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 14em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .caja__stats--arg .element .h3__background--stats .stats__h3--TitleComparative {
    color: rgb(255, 228, 196);
  }
  .caja__stats--arg .element .stats__bar {
    height: 20px;
    width: 200px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .caja__stats--arg .element .stats__bar .stats__progress {
    display: flex;
    height: 100%;
    width: var(--w);
    border-radius: 15px;
    animation: aumento 5s ease;
    background-image: linear-gradient(to right, #ffffff, #0092ff);
  }
  .caja__stats--bar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 20px;
    align-items: center;
    background-image: url(../img/BackBar.svg);
  }
  .caja__stats--bar h2 {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .caja__stats--bar .element {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .caja__stats--bar .element .h3__background--stats {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 14em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .caja__stats--bar .element .h3__background--stats .stats__h3--TitleComparative {
    color: rgb(255, 228, 196);
  }
  .caja__stats--bar .element .stats__bar {
    height: 20px;
    width: 200px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .caja__stats--bar .element .stats__bar .stats__progress {
    display: flex;
    height: 100%;
    width: var(--w);
    border-radius: 15px;
    animation: aumento 5s ease;
    background-image: linear-gradient(to right, red, blue);
  }
  .caja__stats--psg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 20px;
    align-items: center;
    background-image: url(../img/backPSG.svg);
  }
  .caja__stats--psg h2 {
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .caja__stats--psg .element {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .caja__stats--psg .element .h3__background--stats {
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 14em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .caja__stats--psg .element .h3__background--stats .stats__h3--TitleComparative {
    color: bisque;
  }
  .caja__stats--psg .element .stats__bar {
    height: 20px;
    width: 200px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .caja__stats--psg .element .stats__bar .stats__progress {
    display: flex;
    height: 100%;
    width: var(--w);
    border-radius: 15px;
    animation: aumento 5s ease;
    background-image: linear-gradient(to right, blue, red);
  }
  @keyframes aumento {
    0% {
      width: 0%;
    }
    100% {
      width: var(--w);
    }
  }
}
.section--iconic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(236, 85, 110);
  font-family: "Oswald", sans-serif;
}
.section--iconic article .conteiner__iconic--video {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section--iconic article .conteiner__iconic--video .iconic--video {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}
.section--iconic article .conteiner__iconic--h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section--iconic article .conteiner__iconic--h2 h2 {
  font-size: 40px;
  color: white;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .section--iconic {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(236, 85, 110);
    font-family: "Oswald", sans-serif;
  }
  .section--iconic article .conteiner__iconic--video {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .section--iconic article .conteiner__iconic--video .iconic--video {
    height: 250px;
    width: 350px;
    border-radius: 10px;
  }
  .section--iconic article .conteiner__iconic--h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section--iconic article .conteiner__iconic--h2 h2 {
    font-size: 40px;
    color: white;
    text-align: center;
  }
}
/*Header*/
.conteiner__title {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(101, 168, 212);
}
.conteiner__title .h1__pageTitle {
  color: white;
}

/*Article colors modifiers*/
.article--novedad {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 450px;
  width: 100vw;
  background-color: rgb(101, 168, 212);
}
.article--novedad .conteiner__index--img {
  height: 250px;
  width: 250px;
}
.article--novedad .conteiner__index--img img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.article--estadistica {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 450px;
  width: 100vw;
  background-color: rgb(254, 236, 65);
}
.article--estadistica .conteiner__index--img {
  height: 250px;
  width: 250px;
}
.article--estadistica .conteiner__index--img img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.article--iconic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 450px;
  width: 100vw;
  background-color: rgb(236, 85, 110);
}
.article--iconic .conteiner__index--img {
  height: 250px;
  width: 250px;
}
.article--iconic .conteiner__index--img img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.article--estadistica h2 {
  font-size: 40px;
  color: black;
  text-align: center;
}

.article--iconic h2 {
  font-size: 40px;
  color: white;
  text-align: center;
}
.article--iconic .iconic--video {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

.article--novedad h2 {
  text-align: center;
  justify-self: center;
  font-size: 40px;
  color: white;
}
.article--novedad img {
  height: 250px;
  width: 250px;
  border-radius: 25px;
}

.button--linkpage {
  height: 40px;
  width: 100px;
  background-color: black;
  border-radius: 10px;
  border-color: transparent;
}
.button--linkpage a {
  color: rgb(255, 228, 196);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

aside {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .article--novedad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    width: 100vw;
    background-color: rgb(101, 168, 212);
  }
  .article--novedad .conteiner__index--img {
    height: 250px;
    width: 250px;
  }
  .article--novedad .conteiner__index--img img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
  }
  .article--novedad .conteiner__index--img img:hover {
    height: 95%;
    width: 95%;
    border-radius: 25px;
  }
  .article--estadistica {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    width: 100vw;
    background-color: rgb(254, 236, 65);
  }
  .article--estadistica .conteiner__index--img {
    height: 250px;
    width: 250px;
  }
  .article--estadistica .conteiner__index--img img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
  }
  .article--estadistica .conteiner__index--img img:hover {
    height: 95%;
    width: 95%;
    border-radius: 25px;
  }
  .article--iconic {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 65vh;
    width: 100vw;
    background-color: rgb(236, 85, 110);
  }
  .article--iconic .conteiner__index--img {
    height: 250px;
    width: 250px;
  }
  .article--iconic .conteiner__index--img img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
  }
  .article--iconic .conteiner__index--img img:hover {
    height: 95%;
    width: 95%;
    border-radius: 25px;
  }
  .article--estadistica h2 {
    font-size: 40px;
    color: black;
    text-align: center;
  }
  .article--iconic h2 {
    font-size: 40px;
    color: white;
    text-align: center;
  }
  .article--iconic .iconic--video {
    height: 300px;
    width: 300px;
    border-radius: 10px;
  }
  .article--novedad {
    display: none;
  }
  .button--linkpage {
    height: 45px;
    width: 120px;
    background-color: black;
    border-radius: 10px;
    border-color: transparent;
  }
  .button--linkpage a {
    color: rgb(217, 233, 233);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
  }
  .button--linkpage:hover {
    font-size: larger;
    border-radius: 10px;
  }
  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(217, 233, 233);
    text-align: center;
  }
  aside .aside__conteiner--carousel .carouselAside {
    align-items: center;
    justify-content: space-around;
  }
}
.palmares__conteiner {
  background-color: rgb(254, 236, 65);
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*Header*/
.article__novedad--winter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(101, 168, 212);
}
.article__novedad--winter h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

.article__novedad--summer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(254, 236, 65);
}
.article__novedad--summer h2 {
  font-family: "Oswald", sans-serif;
  color: black;
}

.conteiner__article--novedades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  height: 310px;
  width: 165px;
  align-items: center;
}
.card .card-img-top {
  padding-top: 5px;
  height: 130px;
  width: 85%;
  transition: all 0, 1s;
}
.card .card-img-top:hover {
  height: 150px;
  width: 85%;
}
.card .card-body .card-title {
  font-family: "Oswald", sans-serif;
}
.card .card-body .card-text {
  font-family: "Oswald", sans-serif;
}

aside {
  display: none;
}

.conteiner__subtitle {
  text-align: center;
  color: white;
  background-color: rgb(236, 85, 110);
}

@media only screen and (min-width: 1200px) {
  .article__novedad--winter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(101, 168, 212);
    height: 70vh;
  }
  .article__novedad--winter h2 {
    font-family: "Oswald", sans-serif;
    color: black;
  }
  .article__novedad--summer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(254, 236, 65);
    height: 70vh;
  }
  .article__novedad--summer h2 {
    font-family: "Oswald", sans-serif;
    color: black;
  }
  .conteiner__article--novedades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  aside {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .conteiner__subtitle {
    text-align: center;
    color: white;
    background-color: rgb(236, 85, 110);
  }
}
/*Here i put gobal variable*/
* {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

/*Header*/
.conteiner__logo {
  height: 70px;
  width: 60px;
  /*Here i define img height and width*/
}
.conteiner__logo img {
  height: 100%;
  width: 100%;
}

/*My nav link*/
.nav-link {
  color: rgb(255, 255, 255);
}
.nav-link:hover {
  padding: 20px;
  background-color: rgb(251, 255, 34);
  color: rgb(0, 0, 0);
}

.footer__conteiner--sitio {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.footer__conteiner--sitio .footer__conteiner--logo {
  height: 80px;
  width: 80px;
}
.footer__conteiner--sitio .footer__conteiner--logo img {
  height: 100%;
  width: 100%;
}

.footer__conteiner--sponsor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(217, 233, 233);
}
.footer__conteiner--sponsor .footer__logos--sponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(217, 233, 233);
}
.footer__conteiner--sponsor .footer__logos--sponsor ul li {
  list-style: none;
}
.footer__conteiner--sponsor .footer__logos--sponsor ul li a {
  font-family: "Roboto", sans-serif;
  color: black;
  text-decoration: none;
}

.footer__conteiner--redes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 228, 196);
}
.footer__conteiner--redes ul {
  list-style: none;
}
.footer__conteiner--redes ul li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}
.footer__conteiner--redes .img__logo--redes {
  height: 24px;
  width: 24px;
}

/*PC*/

/*# sourceMappingURL=estilo.css.map */
