
@use 'variable';


.contacto__background{
    background-color: rgba(254,236,65,255);
    height: 100vh;
    width: 100vw;
    font-family: variable.$font-global;
        h1{
            display: flex;
            justify-content: center;
            align-self: center;
            font-family: variable.$font-global;
        }
   }