@use 'variable';

@mixin caja-stats{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 80vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 20px;
 }

 @mixin column-center-evenly{
            flex-direction: column;
             align-items: center;
             justify-content:space-evenly;
 }
 @mixin h3-center-center-height-width-radius{
    justify-content: center;
    align-items: center;
    height: 50px;
     width: 14em;
     border-radius: 10px;
 }
 @mixin stats-bar-height-width-radius{
    height: 20px;
    width: 200px;
    border-radius: 20px;
 }
 @mixin stats-progress-flex-height-width-radius-animation{
                     display: flex;
                      height: 100%;
                      width: var(--w);
                      border-radius: 15px;
                      animation: aumento 5s ease;
 }

.section__conteiner--stats{
    background-color: rgba(254,236,65,255);
     h2{
         text-align: center;
         
         font-weight:700;
     }
 }
 
 .caja__stats--general{
    @include caja-stats;
    align-items: center;
    background-image: url(../img/messiamar.webp);
        h2{
            
            color: rgb(254, 254, 254) ;
            background-color: rgba($color: rgb(0, 0, 0), $alpha: .7);
        }
           .element{
               @include column-center-evenly;
               .h3__background--stats{
                @include h3-center-center-height-width-radius;
                background-color: rgba($color: rgb(0, 0, 0), $alpha: 1);
                .stats__h3--TitleComparative{
                    color:rgb(255, 228, 196);
                }
            }
   
               .stats__bar{
                  @include stats-bar-height-width-radius;
                  background-color: rgba($color: rgb(0, 0, 0), $alpha: 1);
                   
                   .stats__progress{
                      @include stats-progress-flex-height-width-radius-animation;
                      background-image: linear-gradient(to right,#f2f2f2,#43c9e8);
                   }
               }
   
           }
   }
 .caja__stats--arg{
    @include caja-stats;
    align-items: center;
    background-image: url(../img/mtop.jpg);
    h2{
        color: aliceblue;
        background-color: rgba($color: rgb(0, 0, 0), $alpha: .7);
      
    }
    .element{
        @include column-center-evenly;
        .h3__background--stats{
            @include h3-center-center-height-width-radius;
            background-color: rgba($color: rgb(0, 0, 0), $alpha: .7);
            .stats__h3--TitleComparative{
                color:rgb(255, 228, 196);
            }
        }

        .stats__bar{
           @include stats-bar-height-width-radius;
           background-color: rgba($color: rgb(0, 0, 0), $alpha: .7);
            
            .stats__progress{
               @include stats-progress-flex-height-width-radius-animation;
               background-image: linear-gradient(to right,#ffffff,#0092ff);
            }
        }

    }
 }
 .caja__stats--bar{
    @include caja-stats;
    align-items: center;
    background-image: url(../img/leo.jpg);
    h2{
        color: aliceblue;
        background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
        
    }
    .element{
        @include column-center-evenly;
        .h3__background--stats{
            @include h3-center-center-height-width-radius;
            background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
            .stats__h3--TitleComparative{
                color:bisque;
            }
        }

        .stats__bar{
           @include stats-bar-height-width-radius;
           background-color: rgba($color: rgb(0, 0, 0), $alpha: .7);
            
            .stats__progress{
               @include stats-progress-flex-height-width-radius-animation;
               background-image: linear-gradient(to right,red,blue);
            }
        }

    }
 }
 .caja__stats--psg{
    @include caja-stats;
    align-items: center;
    background-image: url(../img/m30.webp);
    h2{
        color: aliceblue;
        background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
  
    }
    .element{
        @include column-center-evenly;
        .h3__background--stats{
            @include h3-center-center-height-width-radius;
            background-color: rgba($color: rgb(0, 0, 0), $alpha: .7);
            .stats__h3--TitleComparative{
                color:rgb(255, 228, 196);
            }
        }

        .stats__bar{
           @include stats-bar-height-width-radius;
           background-color: rgba($color: rgb(0, 0, 0), $alpha: .7);
            
            .stats__progress{
               @include stats-progress-flex-height-width-radius-animation;
               background-image: linear-gradient(to right,blue, red);
            }
        }

    }

    
 }
 
 @keyframes aumento {
     0%{width: 0%;}
     100%{width:var(--w);}
 }



 @media only screen and (min-width:1200px){

    .section__conteiner--stats{
        background-color: rgba(254,236,65,255);
         h2{
             text-align: center;
            
             font-weight:700;
         }
     }
     
     .caja__stats--general{
        @include caja-stats;
        align-items: flex-start;
        background-image: url(../img/f1.png);
            h2{
                
                color: rgb(0, 0, 0);
                background-color:transparent;
            }
               .element{
                   @include column-center-evenly;
                   .h3__background--stats{
                    @include h3-center-center-height-width-radius;
                    background-color: rgba($color:rgb(0, 0, 0), $alpha: 1);
                    .stats__h3--TitleComparative{
                        color:rgb(255, 228, 196);
                    }
                }
       
                   .stats__bar{
                      @include stats-bar-height-width-radius;
                      background-color: rgba($color:rgb(0, 0, 0), $alpha: 1);
                       
                       .stats__progress{
                          @include stats-progress-flex-height-width-radius-animation;
                          background-image: linear-gradient(to right,#f2f2f2,#43c9e8);
                       }
                   }
       
               }
       }
     .caja__stats--arg{
        @include caja-stats;
        align-items: center;
        background-image: url(../img/mtop.jpg);
        h2{
            color: aliceblue;
            background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
          
        }
        .element{
            @include column-center-evenly;
            .h3__background--stats{
                @include h3-center-center-height-width-radius;
                background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
                .stats__h3--TitleComparative{
                    color:rgb(255, 228, 196);
                }
            }
    
            .stats__bar{
               @include stats-bar-height-width-radius;
               background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
                
                .stats__progress{
                   @include stats-progress-flex-height-width-radius-animation;
                   background-image: linear-gradient(to right,#ffffff,#0092ff);
                }
            }
    
        }
     }
     .caja__stats--bar{
        @include caja-stats;
        align-items: center;
        background-image: url(../img/leo.jpg);
        h2{
            color: aliceblue;
            background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
            
        }
        .element{
            @include column-center-evenly;
            .h3__background--stats{
                @include h3-center-center-height-width-radius;
                background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
                .stats__h3--TitleComparative{
                    color:rgb(255, 228, 196);
                }
            }
    
            .stats__bar{
               @include stats-bar-height-width-radius;
               background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
                
                .stats__progress{
                   @include stats-progress-flex-height-width-radius-animation;
                   background-image: linear-gradient(to right,red,blue);
                }
            }
    
        }
     }
     .caja__stats--psg{
        @include caja-stats;
        align-items: center;
        background-image: url(../img/m30.webp);
        h2{
            color: aliceblue;
            background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
      
        }
        .element{
            @include column-center-evenly;
            .h3__background--stats{
                @include h3-center-center-height-width-radius;
                background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
                .stats__h3--TitleComparative{
                    color:bisque;
                }
            }
    
            .stats__bar{
               @include stats-bar-height-width-radius;
               background-color: rgba($color:rgb(0, 0, 0), $alpha: .7);
                
                .stats__progress{
                   @include stats-progress-flex-height-width-radius-animation;
                   background-image: linear-gradient(to right,blue, red);
                }
            }
    
        }
    
        
     }
     
     @keyframes aumento {
         0%{width: 0%;}
         100%{width:var(--w);}
     }
 }