@use 'variable';


@mixin flex-column-around-center{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}



.section--iconic{
    @include flex-column-around-center;
    background-color:rgb(236,85,110) ;
    font-family: variable.$font-global; 
      article{
        
        .conteiner__iconic--video{
            display: flex;
            align-items: center;
           justify-content: space-around;
             .iconic--video{
                height: 250px;
                width: 250px;
                border-radius: 10px;
             }
            
        }
        .conteiner__iconic--h2{
            display: flex;
            align-items: center;
            justify-content: center;
            h2{
       
                font-size: 40px;
                color: variable.$article__title--light;
                text-align: center;
            } 
        }
        
      }
   
}

@media only screen and (min-width: 1200px){

    .section--iconic{
        @include flex-column-around-center;
        background-color:rgb(236,85,110) ;
        font-family: variable.$font-global; 
          article{
            
            .conteiner__iconic--video{
                display: flex;
                align-items: center;
               justify-content: space-around;
                 .iconic--video{
                    height: 250px;
                    width: 350px;
                    border-radius: 10px;
                 }
                
            }
            .conteiner__iconic--h2{
                display: flex;
                align-items: center;
                justify-content: center;
                h2{
           
                    font-size: 40px;
                    color: variable.$article__title--light;
                    text-align: center;
                } 
            }
            
          }
       
    }
}

   
 