@use 'variable';
/*Header*/
@mixin flex-row-around-center{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
@mixin flex-column-around-center{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.conteiner__title{
    display:flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(101,168,212);
    .h1__pageTitle{
        
        color: variable.$article__title--light;
    }
}


/*Article colors modifiers*/
$articles:(
    novedad:rgb(101,168,212),
    estadistica:rgba(254,236,65,255),
    iconic:rgb(236,85,110)
);
@each $article,$color in $articles{
    .article--#{$article}{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        height: variable.$article__height--mobile;
        
        width: 100vw;
        background-color: $color;
        .conteiner__index--img{
            height: variable.$conteiner__img--wh250;
            width: variable.$conteiner__img--wh250;
            img{
                height:100%; 
                width: 100%;
                border-radius: 25px;
             }
        }   
        
    }
}
.article--estadistica{

    h2{
        font-size: 40px;
        color:variable.$article__title--dark;
        text-align: center;
     }

}

.article--iconic{

        h2{
            font-size: 40px;
            color: variable.$article__title--light;
            text-align: center;
        }
      
         .iconic--video{
            height: 300px;
            width: 300px;
            border-radius: 10px;
         }

}

.article--novedad{

        h2{
            text-align: center;
            justify-self:center;
             font-size: 40px;
             color: variable.$article__title--light;
        }       
        img{
            height: 250px; 
            width: 250px;
            border-radius: 25px;
         }

}

.button--linkpage{
    height: 40px;
    width: 100px;
    background-color:black;
    border-radius: 10px;
    border-color:transparent;
    a{
        color: rgb(255, 228, 196);
        text-decoration: none;
        font-family: variable.$font__link--a;
    }
}

aside{
    display:none;
    
 }


@media only screen and (min-width: 1200px){
        
 $articles:(
    novedad:rgb(101,168,212),
    estadistica:rgba(254,236,65,255),
    iconic:rgb(236,85,110)
    );
@each $article,$color in $articles{
    .article--#{$article}{
       @include flex-row-around-center;
        height: variable.$article__height--desktop;
         
        width: 100vw;
        background-color: $color;
        .conteiner__index--img{
            height: variable.$conteiner__img--wh250;
            width: variable.$conteiner__img--wh250;
            img{
                height:100%; 
                width: 100%;
                border-radius: 25px;
                &:hover{
                    height: 95%; 
                    width: 95%;
                    border-radius: 25px;
                }
             }
        }
       
    }
}
.article--estadistica{

    h2{
        font-size: 40px;
        color:variable.$article__title--dark;
        text-align: center;
     }

}

.article--iconic{

        h2{
            font-size: 40px;
            color: variable.$article__title--light;
            text-align: center;
        }
      
         .iconic--video{
            height: 300px;
            width: 300px;
            border-radius: 10px;
         }

}

.article--novedad{

   display: none;

}
.button--linkpage{
    height: 45px;
    width: 120px;
    background-color:black;
    border-radius: 10px;
    border-color:transparent;
    a{
        color: rgb(217, 233, 233);
        text-decoration: none;
        font-family: variable.$font__link--a;
    }
    &:hover{
        
        font-size: larger;
        border-radius: 10px;
    }

}


aside{
    @include flex-column-around-center;
     
     background-color: rgb(217, 233, 233);
     text-align: center;
     .aside__conteiner--carousel{
        
        .carouselAside{
            align-items: center;
            justify-content: space-around;
         
        }

     }

 }

}

