@use 'variable';
/*Header*/


@mixin flex-row-wrap-around-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
}

$seasons:(
    winter:rgb(101,168,212),
    summer:rgba(254,236,65,255)
);
@each $season,$color in $seasons{
    .article__novedad--#{$season}{
        @include flex-row-wrap-around-center;
        background-color: $color;
        h2{
            font-family: variable.$font-global;
            color: variable.$article__title--dark;
        }
    }
}

.conteiner__article--novedades{
    @include flex-row-wrap-around-center;
} 

.card{
   
    height: 310px;
    width: 165px;
    align-items: center;

    .card-img-top{
        padding-top: 5px;
        height: 130px;
        width: 85%;
        transition: all 0,1s;

        &:hover{
           height: 150px;
           width: 85%;
        }
     }
   
    .card-body{
        .card-title{
            font-family:variable.$font-global;
        }
        .card-text{
            font-family: variable.$font-global;
        }
    }
    
}
aside{
    display: none;
}
.conteiner__subtitle{
    text-align: center;
   color: variable.$article__title--light;
    background-color: rgb(236,85,110);
}


@media only screen and (min-width:1200px){
    @mixin flex-column-wrap-around-center{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
       
    }
    @mixin flex-row-wrap-around-center{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
       
    }
    
    $seasons:(
        winter:rgb(101,168,212),
        summer:rgba(254,236,65,255)
    );
    @each $season,$color in $seasons{
        .article__novedad--#{$season}{
            @include flex-row-wrap-around-center;
            background-color: $color;
            height: 70vh;
            h2{
                font-family: variable.$font-global;
                color: variable.$article__title--dark;
            }
        }
    }
    
    .conteiner__article--novedades{
        @include flex-row-wrap-around-center;
    } 
    aside{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .conteiner__subtitle{
        text-align: center;
       color: variable.$article__title--light;
        background-color: rgb(236,85,110);
    }
}