@use 'variable';
/*Header*/


@mixin flex-row-wrap-around-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

$Sections:(
    winter:rgb(101,168,212),
    summer:rgb(236,85,110)
);
@each $Section,$color in $Sections{
    .Section__cotainer--#{$Section}{
        @include flex-row-wrap-around-center;
        background-color: $color;
        h2{
            font-family: variable.$font-global;
            color: variable.$article__title--light;
        }
    }
}

.conteiner__article--novedades{
    @include flex-row-wrap-around-center;
} 

.card{
   
    height: 310px;
    width: 165px;
    align-items: center;

    .card-img-top{
        padding-top: 5px;
        height: 130px;
        width: 85%;
        transition: all 0,1s;

        &:hover{
           height: 150px;
           width: 85%;
        }
     }
   
    .card-body{
        .card-title{
            font-family:variable.$font-global;
        }
        .card-text{
            font-family: variable.$font-global;
        }
    }
    
}


#carousel{
    display: none;
    justify-content: center;
    .carousel-inner{
        width: 100vw;
     }
     .carousel-item {
         height: 500px;
         img{
            height: 100%;
            width: 100%;
            border-radius: 20px;
         }
     }
    
     .carousel__h5--oscuro{
         color: black;
     }
     .carousel__p--oscuro{
         color: black;
     }
     .carousel-control-prev-icon{
         color: black;
     }
     .carousel__fondo--texto{
         border-radius: 20px;
         background-color: aqua;
     }

   }