@use 'variable';

.palmares__conteiner{
    background-color: rgba(254,236,65,255);
    font-family: variable.$font-global;
        display: flex;
         flex-direction: column;                                
        justify-content: space-around;
        align-items: center;           
   }
