
$font-global: 'Oswald', sans-serif;
$article__title--dark: black;
$article__title--light: white;
$article__img--height:  200px  ;
$article__img--width: 230px;
$article__height--mobile: 450px;
$font__link--a:'Roboto', sans-serif;
