
$font-global: 'Oswald', sans-serif;
$article__title--dark: black;
$article__title--light: white;
$article__height--mobile: 450px;
$font__link--a:'Roboto', sans-serif;
$article__height--desktop: 65vh;
$conteiner__img--wh250: 250px;
